@import "tailwindcss";

@theme {
  --color-discord-blue: #5865f2;
  --color-discord-dark: #313338;
  --color-discord-black: #1e1f22;
  --color-discord-gray: #b5bac1;
}

@layer base {
  body {
    @apply bg-discord-black text-white antialiased;
  }
}